<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Usários</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Usários</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/usuarios/add">Adicionar Usuário</a>
                </li>
            </ul>
        </div>
    <div class="card-body">        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Posição</th>
                    <th width="200px">Ação</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= data[i].nome%></td>
                    <td><%= data[i].email%></td>
                    <td><%= data[i].posicao%></td>
                    <td>
                        <a class="btn btn-success edit" href="../usuarios/edit/<%=data[i].id%>">Editar</a>
                        <a class="btn btn-danger delete" onclick="return alert('Tem certeza de que deseja excluir este registro?')" href="../usuarios/delete/<%=data[i].id%>">Excluir</a> 
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">Nenhum usuário encontrado!</p>
        <% } %>
        </div>
    </div>
</body>
</html>
