doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    title CRUD MVC
    body 
      h1.text-center.mb-4.text-danger CRUD NODEJS-MVC
      .container
        .row
          .col-12.col-lg-5.pb-4
            form(action="/addUser", method="POST").form
              input(type="text", name="nome" placeholder="Nome").form-control.mb-2
              input(type="text", name="sobre"  placeholder="Sobrenome").form-control.mb-2
              input(type="number", name="idade"  placeholder="Idade").form-control.mb-2
              button.btn.btn-primary.w-50 Adicioonar
          .col-12.col-lg-7
            table.table.table-striped
              thead.thead.bg-dark.text-white
                tr 
                  th id
                  th Nome
                  th Sobrenome
                  th Idade
                  th Ações
              tbody.tbody
                each data in rows
                  tr
                    td= data.id
                    td= data.nome
                    td= data.sobre
                    td= data.idade
                    td
                      a(href=`/editUser/${data.id}`).btn.btn-success.me-2 editar
                       a(href=`/deleteUser/${data.id}`).btn.btn-outline-danger excluir
